{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}

<div class="container mt-5 ms-5">
    <div class="card mb-4 custom-shadow ms-5 ps-3 pt-3 pe-3 pb-3" style="border: 2px solid #096740">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" 
                    class="img-fluid img-thumbnail" 
                    data-bs-toggle="modal" data-bs-target="#imageModal1" 
                    style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center" style="color: #402b2b;">
                    <p class="card-text mt-3">Price: <strong>{{ product.sell_price }} UAH</strong></p>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="product_id mt-3">id: {{ product.display_id }}</p>
                    <form action="{% url 'carts:cart_add' %}" method="post" class="d-inline">
                        <input type="hidden" name="product_id" value="{{ product.id }}">                    
                        <button type="button" class="btn dropdown-toggle add-to-cart align-items-center fs-5"
                        data-product-id="{{ product.id }}" style="width: 160px; height: 50px;">
                            Add to cart
                            <img class="mx-1" src="{% static 'deps/icons/cart-main.svg' %}" 
                                alt="Catalog Icon" width="28" height="28">
                        </button>
                    {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}