body {
  background-image: url("../images/home5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.bg-dark {
  height: 40px; /* Высота футера */
  width: 100%;   /* Ширина на всю страницу */
  background-color: #333; /* Цвет фона (если нужно уточнить bg-dark) */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px; /* Внутренние отступы */
  box-sizing: border-box; /* Учитываем отступы в общей ширине/высоте */
}

.general-footer{
  display: flex; /* Flexbox для управления расположением */
  justify-content: space-between;
}

.icon_footer {

  width: 18px; /* Ширина иконки */
  height: 18px; /* Высота иконки */
  object-fit: contain; /* Сохраняет пропорции содержимого */
  transform: scale(1.1); /* Увеличение при наведении */
  transition: transform 0.3s ease; /* Плавный переход */
}

.copy-right {
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  font-size: 12px;
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  text-align: center; /* Выравниваем текст по центру */
  height: 100%; /* Убедитесь, что у контейнера есть высота */
}

.privacy_terms a {
  text-decoration: none; /* Убираем подчеркивание */
  color: white; /* Белый текст */
  transition: color 0.3s ease; /* Плавное изменение цвета */
  font-size: 12px;
}

.privacy_terms a:hover {
  color: #21c964; /* Изменение цвета текста при наведении */
}

.social-links,
.privacy_terms {
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  height: 100px; /* Высота контейнера */
}

/* Секция "Важное" */
.important {
  background-color: #f2e5e5; /* Светло-розовый фон */
  padding: 20px; /* Внутренние отступы */
  border-radius: 20px; /* Закруглённые углы */
}

.important h1,
.important h2 {
  color: #333; /* Темно-серый текст */
  font-size: 1.2em; /* Средний текст */
  border-bottom: 2px solid #c3b2b2; /* Подчёркивание */
  padding-bottom: 5px; /* Отступ для текста */
}


.important p,
.important ul {
  font-size: 1em; /* Увеличенный размер шрифта */
  color: #555; /* Средне-серый текст */
  list-style-type: disc; /* Маркеры — точки */
}

.important ul li {
  margin-bottom: 10px; /* Расстояние между пунктами */
  font-weight: bold; /* Полужирный текст */
  font-style: italic; /* Курсив */
}

.contact-info ul li {
  list-style-type: none; /* Убираем маркеры */
  font-size: 1em; /* Размер текста */
  margin-bottom: 10px; /* Отступ между пунктами */
}
