footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #986e6e;
  padding: 10px 10px;
}

.bg-custom {
  height: 40px; /* Высота футера */
  width: 100%;   /* Ширина на всю страницу */
  background-color: #2a1e1e; /* Цвет фона */
  color: #c3b2b2; /* Цвет текста */
  text-align: center; /* Текст по центру */
  box-sizing: border-box;
}

.general-footer{
  display: flex; /* Управления расположением */
  justify-content: space-between;  /* Равномерно распределяет элементы */
}

.icon_footer {
  width: 22px; /* Ширина иконки */
  height: 22px; /* Высота иконки */
  object-fit: contain; /* Сохраняет пропорции содержимого */
  transition: transform 0.5s ease; /* Плавный переход */
}

.copy-right {
  display: flex; 
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  color: #c3b2b2; /* Цвет текста */
  font-size: 10px;
  margin: 0; /* Внешние отступы */
  padding: 0; /* Внутренние отступы */
  text-align: center;
  height: 100%;
}

.privacy_terms a {
  text-decoration: none; /* Минус подчеркивание */
  color: #c3b2b2;
  transition: color 0.5s ease;
  font-size: 12px;
}

.privacy_terms a:hover {
  color: #85d8a7; /* Изменение цвета текста при наведении */
  transform: scale(1.2); /* Увеличение при наведении */
}

.icon_footer:hover {
  transform: scale(1.6);
}

.social-links,
.privacy_terms {
  display: flex;
  justify-content: center;
}

.information-pages {
  background-color: #e2c9c9; /* Фон */
  padding: 20px; /* Внутренние отступы */
  border-radius: 20px; /* Закруглённые углы */
}

.information-pages h1 {
  color: #1e1010;
  font-size: 2em; /* big текст */
  border-bottom: 3px solid #986e6e; /* Подчёркивание */
  padding-bottom: 5px; /* Отступ для текста */
}

.information-pages h2 {
  color: #2a1e1e;
  font-size: 1.6em;
  padding-bottom: 5px;
}

.information-pages p,
.information-pages ul {
  font-size: 1.2em; /* Увеличенный размер шрифта */
  color: #402b2b;
  list-style-type: disc; /* Маркеры — точки */
  margin-left: 20px; /* Отступ для списка */
}

.information-pages ul li {
  margin-bottom: 10px; /* Расстояние между пунктами */
}

.information-pages a {
  text-decoration: none;
  color: #2a1e1e;
  font-size: 1em; /* Средний текст */
  padding-bottom: 5px; /* Отступ для текста */
}

.contact-info ul li {
  color: #402b2b;
  list-style-type: none;
  font-size: 1em;
  margin-bottom: 10px;
}

.contact-info a {
  display: inline-block;
  color: #402b2b;
  transition: transform 0.5s ease, color 0.5s ease; /* Плавный переход */
}

.contact-info a:hover {
  color: #327d50; /* Меняем цвет текста */
  transform: scale(1.0); /* Увеличение при наведении */
}

.form-check {
  color: #986e6e;
  background-color: #402b2b;
}
  
  