#jq-notification {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d1ebe1;
    color: #043724;
    border: 1px solid #8ec1ab !important; 
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
}

#jq-notification {
    z-index: 1000 !important;
}

