{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load carts_tags %}

{% block content %}

{% user_carts request as carts %}
<div class="row">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="bg-light p-4 mb-4 mx-2 rounded custom-shadow ms-5">
                    <h3 class="text-center mb-4" style="color: #402b2b;">User profile</h3>
                    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Avatar" class="img-fluid rounded-circle"
                                        style="max-width: 200px;">
                                {% else %}
                                <div style="display: flex; gap: 10px; align-items: center;">
                                    <img class="catalog_item ms-1" src="{% static "deps/icons/profile-female.svg" %}" alt="Catalog Icon"
                                         style="max-width: 50%; max-height: 50%; width: auto; height: auto;">
                                    <img class="catalog_item me-1" src="{% static "deps/icons/profile-male.svg" %}" alt="Catalog Icon"
                                         style="max-width: 50%; max-height: 50%; width: auto; height: auto;">
                                </div>
                                {% endif %}
                                <input type="file" class="form-control mt-3" id="id_image"
                                    name='image'
                                    accept="image/*">
                                    {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_first_name" class="form-label">Name*</label>
                                <input type="text" class="form-control" id="id_first_name"
                                    name='first_name'
                                    placeholder="Введите ваше имя"
                                    value="{{ form.first_name.value }}" 
                                    required>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_last_name" class="form-label">Last name*</label>
                                <input type="text" class="form-control" id="id_last_name"
                                    name='last_name'
                                    placeholder="Enter your last name"
                                    value="{{ form.last_name.value }}" 
                                    required>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_username" class="form-label">Username*</label>
                                <input type="text" class="form-control" id="id_username"
                                    name='username'
                                    placeholder="Enter your username" 
                                    value="{{ form.username.value }}" 
                                    required>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="id_email"
                                    name='email'
                                    placeholder="Enter your email *youremail@example.com" 
                                    value="{{ form.email.value }}"
                                    required>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="text-center mb-4">
                            <button class="btn dropdown-toggle fs-5 w-100 mt-5"
                                style="width: 100%;"
                                type="submit" 
                                aria-expanded="false">
                                Save 
                                <img class="catalog_item" src="{% static "deps/icons/register-save.svg" %}" alt="Catalog Icon" width="28"
                                                    height="28">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% user_carts request as carts %}
            <div class="col-md-7">
                <div class="bg-light p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4" style="color: #402b2b;">Cart
                        <img src="{% static 'deps/icons/cart-plus.svg' %}" alt="Catalog Icon" width="32" height="32">
                    </h3>
                    <div class="container" id="cart-items-container">
                        
                        {% include "carts/includes/included_cart.html" %}

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bg-light p-4 mb-4 mx-2 rounded custom-shadow ms-5">
                    <h3 class="text-center mb-4" style="color: #402b2b;">My orders</h3>
                    <!-- Замовлення -->
                    <div class="container">
                        <div class="accordion" id="accordionExample">
                            {% for order in orders %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ order.id }}">
                                    <button class="my-accordion-btn ps-3 {% if order != orders.0 %}collapsed{% endif %}" 
                                    type="button" 
                                    data-toggle="collapse" 
                                    data-target="#collapse{{ order.id }}" 
                                    aria-expanded="{% if order == orders.0 %}true{% else %}false{% endif %}" 
                                    aria-controls="collapse{{ order.id }}">
                                Order № {{ order.id }} - {{ order.created_timestamp }} | 
                                Status: <strong class="order-status ps-3">{{ order.status }}</strong>
                            </button>
                                </h2>
                                <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                    <div class="order-details">
                                        <table class="custom-table">
                                            <thead>
                                                <tr>
                                                    <th class="ps-3">Product</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Total cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order.orderitem_set.all %}
                                                <tr>
                                                    <td><a class="custom-link ps-3" href="{% url 'goods:product' product_slug=item.product.slug %}">{{ item.product.name }}</a></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.price }}</td>
                                                    <td>{{ item.products_price }}</td>                                                   
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}