{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div  class="m-2 custom-shadow rounded">
        <h2 class="m-4 text-center" style="padding-right: 120px;"><strong>{{ content }}</strong></h2>
        <p class="m-2" style="padding-right: 120px;">{{ text_on_page }}</p>
    </div> 
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; HomeMade 2025 codeTanya3011</p>
        
    </div>
</footer>
{% endblock %}