{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}

<div class="text-center ms-5">
<div class="information-pages ms-5">
    <h1>Contact Informations HomeMade</h1>
    <h2>If you have any questions, suggestions or wishes, please contact us:</h2>
        <div class="contact-info mb-5">
                {% include "includes/contact_info.html" %}
        </div>
</div>
</div>
{% endblock %}

{% block footer %}
    <div class="general-footer">
        {% include "includes/footer.html" %}
    </div>
{% endblock %}