{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <h1 class="mt-5 pt-5 text-center fst-italic" style="color: #402b2b;"><strong>
        <img class="catalog_item" src="{% static "deps/icons/sofa2.svg" %}" alt="Catalog Icon" width="60"
            height="60">{{ content }}</strong></h1>
{% endblock %}

{% block footer %}
    <div class="general-footer">
        {% include "includes/footer.html" %}
    </div>
{% endblock %}